.git
.github
.devcontainer
deploy/.env
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
bootstrap/cache/*
public/build
public/hot
public/fonts-manifest.dev.json
.phpunit.cache
.phpunit.result.cache
tests
README.md
